<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="card-body border-0 shadow-lg my-5 mt-5 " style="border-radius: 20px">
        <div class="row">
          <div class="col-6">
            <img src="assets/images/login.jpg">
          </div>
          <div class="col-6 my-auto">
            <h3 class="text-center mb-5">Login</h3>
            <form class="my-5">
              <div class="input-material mb-3">
                <input type="text" class="form-control" id="emailHelp" name="emailHelp" required>
                <label for="emailHelp"></label>
              </div>
              <div class="input-material">
                <input type="password" class="form-control" id="password" name="password" required>
                <label for="password">Senha</label>
              </div>
            </form>
            <a href="javascript:void('');" class="btn btn-primary btn-block" style="border-radius: 20px">
              Entrar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
