<div class="container">
  <div class="row justify-content-center">
    <div class="col">
      <div class="card-body border-0 shadow-lg my-5 mt-5 " style="border-radius: 20px">
        <div class="row">
          <div class="col-6">
            <img src="assets/images/login.jpg">
          </div>
          <div class="col-6 my-auto">
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
              <h3 class="text-center mb-5">Login</h3>
              <div class="my-5">
                <div class="input-material mb-3">
                  <input type="text" class="form-control" id="emailHelp" name="emailHelp" formControlName="email"
                         required>
                  <label for="emailHelp">E-mail</label>
                </div>
                <div class="input-material">
                  <input type="password" class="form-control" id="password" name="password" formControlName="senha"
                         required>
                  <label for="password">Senha</label>
                </div>
              </div>
              <a href="javascript:void('');" class="btn btn-primary btn-block" style="border-radius: 20px" (click)="onLogin()">
                Entrar
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
